/node_modules/
/**/node_modules/
/**/dist/
/build/
/install/
/log/
/var/
/target/
/vendor/
/.env
.DS_Store

/.cache/

/**/__pycache__/
/**/.env
/**/.env.*
!/**/.env.example
*.db
*.db-wal
*.db-shm
*.p12
*.pfx
